@using NXKit.Xml
@using NXKit.DOMEvents;
@attribute [NXComponent("{http://www.w3.org/2002/xforms}select1")]
@inherits XFormsComponentBase

<div class="nx-xforms-select1">
    <select @onactivate="OnActivate" @onfocusin="OnFocusIn" @onfocusout="OnFocusOut">
    </select>
</div>

@code
{

    NXKit.XForms.Select1 Select1Interface => Element.Interface<NXKit.XForms.Select1>();

    void OnActivate()
    {
        Element.DispatchEvent(UIEvents.DOMActivate);
    }

    void OnFocusIn()
    {
        Element.DispatchEvent(UIEvents.DOMFocusIn);
    }

    void OnFocusOut()
    {
        Element.DispatchEvent(UIEvents.DOMFocusOut);
    }

}
