@using NXKit.Xml
@using NXKit.DOMEvents;
@using NXKit.View.Razor
@inherits XFormsComponentBase

<div class="nx-xforms-input">
    <input @onactivate="OnActivate" @onfocusin="OnFocusIn" @onfocusout="OnFocusOut" @bind-value="Value" @bind-value:event="oninput" />
</div>

@code
{

    void OnActivate()
    {
        Element.DispatchEvent(UIEvents.DOMActivate);
    }

    void OnFocusIn()
    {
        Element.DispatchEvent(UIEvents.DOMFocusIn);
    }

    void OnFocusOut()
    {
        Element.DispatchEvent(UIEvents.DOMFocusOut);
    }

    string Value
    {
        get => Element.Interface<IDataNode>().Value;
        set => Element.Interface<IDataNode>().Value = value;
    }

}
