@attribute [NXComponent("{http://schemas.nxkit.org/2014/xforms-layout}form")]
@inherits XFormsLayoutComponentBase

<div class="nx-xforms-layout-form">
    <NXNodeListView Nodes="@Element.Nodes()" />
</div>
