@attribute [NXComponent("{http://schemas.nxkit.org/2014/xforms-layout}paragraph")]
@inherits XFormsLayoutComponentBase

<p class="nx-xforms-layout-paragraph">
    <NXNodeListView Nodes="@Element.Nodes()" />
</p>
