@using System.Xml.Linq
@attribute [NXComponent("{http://schemas.nxkit.org/2014/xforms-layout}segment")]
@inherits XFormsLayoutComponentBase

<section class="nx-xforms-layout-segment">
    @if (LabelElement != null)
    {
        <header><h1><NXNodeView Node="LabelElement" /></h1></header>
    }

    <NXNodeListView Nodes="@ContentNodes" />
</section>

@code
{

    static readonly XNamespace xf = "http://www.w3.org/2002/xforms";

    XElement LabelElement => Element.Element(xf + "label");

    IEnumerable<XNode> ContentNodes => Element.Nodes().Except(new[] { LabelElement });

}