@using NXKit.Xml
@using NXKit.View.Razor
@inherits NXComponentBase

<div class="nx-xforms-layout-section">
    <h1>@Title</h1>

    <NXElementListView Elements="@Element.Elements()" />
</div>

@code
{

    NXKit.XForms.Layout.Section Interface => Element.Interface<NXKit.XForms.Layout.Section>();

    string Title => "section #" + Element.GetObjectId();

}