<?xml version="1.0"?>

<configuration>

    <system.web>
        <httpRuntime
            requestValidationMode="2.0"
            targetFramework="4.5"/>
        <machineKey
            validationKey="9BDEDF0582ACE0EF09C0ABB4C3035443F435F477AD59BF8F4DC20AFA53229C33E0DE9D99E8670C187892FD11EAF622C9E55E7A606537C5392CB4C9EF58BA92DC"
            decryptionKey="A78BB00F980D6D79A3A664C095CB2923241141423807426380FB90262A9DA438"
            validation="SHA1"
            decryption="AES"/>
        <pages
            validateRequest="false"/>
        <compilation
            debug="true"
            targetFramework="4.5"/>
        <customErrors
            mode="Off"/>
    </system.web>

    <system.webServer>

        <staticContent>
            <clientCache
                cacheControlMode="DisableCache" 
                cacheControlMaxAge="00:00:00" />
            <mimeMap
                fileExtension=".less"
                mimeType="text/css"/>
        </staticContent>

        <handlers>
            <add
                name="Examples"
                path="Examples/*.xml"
                verb="*"
                type="NXKit.View.Web.UI.Test.Site.ExampleHttpHandler"/>
        </handlers>

    </system.webServer>

    <runtime>
        <startup>
            <supportedRuntime
                version="v4.0"
                sku=".NETFramework,Version=v4.5"/>
        </startup>
    </runtime>

</configuration>