@import 'semantic.less';

.xforms-group-field() {
    &:extend(.ui.form .field all);
    &:extend(.ui.form .fields > .field all);
    &:extend(.field all);
    &:extend(.wide.field all);
    &:extend(.ui.form .fields .wide.field all);
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.xforms-group-field-eight-wide() {
    .xforms-group-field();
    &:extend(.eight.wide.field all);
    &:extend(.ui.form .fields > .eight.wide.field all);
}

.xforms-group-field-sixteen-wide() {
    .xforms-group-field();
    &:extend(.sixteen.wide.field all);
    &:extend(.ui.form .fields > .sixteen.wide.field all);
}

.xforms-group-field-label() {
    &:extend(.ui.form .field > label all);
}

.xforms-group-field-invalid() {
    &:extend(.ui.form .field.error all);
    &:extend(.field.error all);
}

.xforms-group-field-invalid-input {

    > .label {
        &:extend(.ui.form .field.error label all);
    }

    input {
        &:extend(.ui.form .field.error input all);
    }
}

.xforms-group-field-invalid-range {

    > .label {
        &:extend(.ui.form .field.error label all);
    }

    input {
        &:extend(.ui.form .field.error input all);
    }
}

.xforms-group-field-invalid-select1() {

    > .label {
        &:extend(.ui.form .field.error label all);
    }

    > .body {
        &:extend(.ui.form .field.error .ui.dropdown all);
    }
}

.xforms-group {
    &:extend(.ui.form all);
    &:extend(.ui.fluid.form all);

    > .help {
        display: none;
    }

    > .hint {
        display: none;
    }

    > .contents {
        &:extend(.fields all);
        &:extend(.ui.form .fields all);

        > .item:not([data-nx-name='{http://www.w3.org/2002/xforms}group']) {
            .xforms-group-field-eight-wide();
        }

        > .item[data-nx-name='{http://www.w3.org/2002/xforms}group'] {
            .xforms-group-field-sixteen-wide();
        }

        > .item:only-child {
            .xforms-group-field-sixteen-wide();
        }

        > .item[data-nx-name='{http://www.w3.org/2002/xforms}group']+.item[data-nx-name='{http://www.w3.org/2002/xforms}select1']:last-child {
            .xforms-group-field-sixteen-wide();
        }

        > .item[data-nx-xforms~='invalid'] {
            .xforms-group-field-invalid();

            > .xforms-input {
                .xforms-group-field-invalid-input();
            }

            > .xforms-range {
                .xforms-group-field-invalid-range();
            }

            > .xforms-select1 {
                .xforms-group-field-invalid-select1();
            }
        }

        > .item > .xforms-group {



        }

        > .item > .xforms-group:first-child {



        }

        > .item > .xforms-input {

            > .label {
                .xforms-group-field-label();
            }
        }

        > .item > .xforms-range {

            > .label {
                .xforms-group-field-label();
            }
        }

        > .item > .xforms-select1 {

            > .label {
                .xforms-group-field-label();
            }
        }

        > .item > .xforms-input:nth-child(odd) {
        }
    }
}

.xforms-group-primary {
    &:extend(.ui.segment all);
    &:extend(.ui.blue.segment all);

    > .label {
        &:extend(.ui.header all);

        > .xforms-label {
        }
    }

    > .contents {

        > .item {
        }
    }
}

.xforms-group-secondary {
    &:extend(.ui.segment all);
    &:extend(.ui.purple.segment all);
    &:extend(.ui.secondary.segment all);

    > .label {
        &:extend(.ui.header all);
        &:extend(.ui.small.header all);

        > .xforms-label {
        }
    }

    > .contents {
    }
}

.xforms-input {

    > .label {
    }

    > .hint {
        display: none;
    }

    > .help {
        display: none;
    }
}

.xforms-input[data-nxkit-data-type='{http://www.w3.org/2001/XMLSchema}boolean'] {
    &:extend(.ui.checkbox all);
    line-height: 1.3em;

    > .checkbox {
        position: relative;
        margin-left: -25px;

        > input {
        }
    }
}

.xforms-range {

    > .label {
    }

    > .hint {
        display: none;
    }

    > .help {
        display: none;
    }
}

.xforms-select1 {

    > .label {
    }

    > .hint {
        display: none;
    }

    > .help {
        display: none;
    }

    > .body {
        &:extend(.ui.dropdown all);
        &:extend(.ui.fluid.dropdown all);
        &:extend(.ui.selection.dropdown all);
    }
}

.xforms-repeat {

    > .item > .xforms-group {
        margin-top: 2em !important;
        margin-bottom: 2em !important;
        border-left: 0.2em;
        border-left-style: solid;
        border-left-color: transparent;
    }

    > .item.current > .xforms-group {
        border-left-color: purple;
    }

}

.xforms-layout-section {

    > .label {
        &:extend(.ui.header all);
        &:extend(.ui.large.header all);
        &:extend(.ui.dividing.header all);
    }

    > .contents {
        margin-top: 2em;
        margin-bottom: 2em;

        > .item {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        > .item:first-child {
            margin-top: initial;
        }

        > .item:last-child {
            margin-bottom: initial;
        }

        > .item > .xforms-input {
        }

    }

}

.xforms-layout-section > .contents > .item > .xforms-group {
    &:extend(.xforms-group-primary all);
}

.xforms-layout-section > .contents > .item > .xforms-repeat > .item > .xforms-group {
    &:extend(.xforms-group-primary all);
}

.xforms-layout-section > .contents > .item > .xforms-group > .contents > .item > .xforms-group {
    &:extend(.xforms-group-secondary all);
}

.xforms-trigger {
    &:extend(.ui.button all);
}
