@import 'semantic.less';

.flex-container(@width) {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: end;
    justify-content: flex-end;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

.xforms-group-field() {
    &:extend(.ui.form .field all);
    &:extend(.ui.form .fields > .field all);
    &:extend(.field all);
    &:extend(.wide.field all);
    &:extend(.ui.form .fields .wide.field all);
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.xforms-group-field-two-wide() {
    .xforms-group-field();
    &:extend(.two.wide.field all);
    &:extend(.ui.form .fields > .two.wide.field all);
}

.xforms-group-field-three-wide() {
    .xforms-group-field();
    &:extend(.three.wide.field all);
    &:extend(.ui.form .fields > .three.wide.field all);
}

.xforms-group-field-four-wide() {
    .xforms-group-field();
    &:extend(.four.wide.field all);
    &:extend(.ui.form .fields > .four.wide.field all);
}

.xforms-group-field-five-wide() {
    .xforms-group-field();
    &:extend(.five.wide.field all);
    &:extend(.ui.form .fields > .five.wide.field all);
}

.xforms-group-field-six-wide() {
    .xforms-group-field();
    &:extend(.six.wide.field all);
    &:extend(.ui.form .fields > .six.wide.field all);
}

.xforms-group-field-seven-wide() {
    .xforms-group-field();
    &:extend(.seven.wide.field all);
    &:extend(.ui.form .fields > .seven.wide.field all);
}

.xforms-group-field-eight-wide() {
    .xforms-group-field();
    &:extend(.eight.wide.field all);
    &:extend(.ui.form .fields > .eight.wide.field all);
}

.xforms-group-field-sixteen-wide() {
    .xforms-group-field();
    &:extend(.sixteen.wide.field all);
    &:extend(.ui.form .fields > .sixteen.wide.field all);
}

.xforms-group-field-label() {
    &:extend(.ui.form .field > label all);
}

.xforms-group-field-invalid() {
    &:extend(.ui.form .field.error all);
    &:extend(.field.error all);
}

.xforms-group-field-invalid-input {

    > .label {
        &:extend(.ui.form .field.error label all);
    }

    input {
        &:extend(.ui.form .field.error input all);
    }
}

.xforms-group-field-invalid-range {

    > .label {
        &:extend(.ui.form .field.error label all);
    }

    input {
        &:extend(.ui.form .field.error input all);
    }
}

.xforms-group-field-invalid-select1() {

    > .label {
        &:extend(.ui.form .field.error label all);
    }

    > .body {
        &:extend(.ui.form .field.error .ui.dropdown all);
    }
}

.xforms-group {
    &:extend(.ui.form all);
    &:extend(.ui.fluid.form all);

    > .help {
        display: none;
    }

    > .hint {
        display: none;
    }

    > .contents {
        &:extend(.fields all);
        &:extend(.ui.form .fields all);

        > .item {
            .xforms-group-field-eight-wide();
        }

        > .item[data-nx-name='{http://www.w3.org/2002/xforms}group'] {
            .xforms-group-field-sixteen-wide();
        }

        > .item[data-nx-xforms-appearance='{http://www.w3.org/2002/xforms}full'] {
            .xforms-group-field-sixteen-wide();
        }

        > .item[data-nx-name='{http://www.w3.org/2002/xforms}group'][data-nx-xforms-appearance='{http://www.w3.org/2002/xforms}minimal'] {
            .xforms-group-field-eight-wide();
        }

        > .item[data-nx-name='{http://www.w3.org/2002/xforms}group'][data-nx-xforms-appearance='{http://www.w3.org/2002/xforms}compact'] {
            .xforms-group-field-eight-wide();
        }

        > .item:only-child {
            .xforms-group-field-sixteen-wide();
        }
    
        [data-nx-xforms-count-enabled='3'] {

            > .item[data-nx-xforms-appearance='{http://www.w3.org/2002/xforms}compact'] {
                .xforms-group-field-four-wide();
            }

            > .item[data-nx-xforms-appearance='{http://www.w3.org/2002/xforms}minimal'] {
                .xforms-group-field-six-wide();
            }

        }

        > .item[data-nx-xforms~='invalid'] {
            .xforms-group-field-invalid();

            > .xforms-input {
                .xforms-group-field-invalid-input();
            }

            > .xforms-range {
                .xforms-group-field-invalid-range();
            }

            > .xforms-select1 {
                .xforms-group-field-invalid-select1();
            }
        }

        > .item > .xforms-group {



        }

        > .item > .xforms-group:first-child {



        }

        > .item > .xforms-input {

            > .label {
                .xforms-group-field-label();
            }
        }

        > .item > .xforms-range {

            > .label {
                .xforms-group-field-label();
            }
        }

        > .item > .xforms-select1 {

            > .label {
                .xforms-group-field-label();
            }
        }

    }

}

.xforms-group-primary() {
    &:extend(.ui.segment all);
    &:extend(.ui.blue.segment all);

    > .label {
        &:extend(.ui.header all);

        > .xforms-label {
        }
    }

    > .contents {

        > .item {
        }
    }
}

.xforms-group-secondary() {
    
    &[data-nx-xforms-label-appearance=''],
    &[data-nx-xforms-label-appearance='{http://www.w3.org/2002/xforms}full'],
    &:not([data-nx-xforms-label-appearance]) {
        &:extend(.ui.segment all);
        &:extend(.ui.purple.segment all);
        &:extend(.ui.secondary.segment all);

        > .label {
            &:extend(.ui.header all);
            &:extend(.ui.small.header all);

            > .xforms-label {

            }

        }

        > .contents {



        }

    }

    &[data-nx-xforms-label-appearance='{http://www.w3.org/2002/xforms}compact'] {
        &:extend(.ui.segment all);
        &:extend(.ui.secondary.segment all);
        &:extend(.ui.block.segment all);

        > .label {
            &:extend(.ui.header all);
            &:extend(.ui.tiny.header all);
        }
    }

}

.xforms-input {

    > .label {
    }

    > .hint {
        display: none;
    }

    > .help {
        display: none;
    }
}

.xforms-input[data-nxkit-data-type='{http://www.w3.org/2001/XMLSchema}boolean'] {
    &:extend(.ui.checkbox all);
    line-height: 1.3em;

    > .checkbox {
        position: relative;
        margin-left: -25px;

        > input {
        }
    }
}

.xforms-range {

    > .label {
    }

    > .hint {
        display: none;
    }

    > .help {
        display: none;
    }
}

.xforms-select1 {

    > .label {
    }

    > .hint {
        display: none;
    }

    > .help {
        display: none;
    }

    > .body {
        &:extend(.ui.dropdown all);
        &:extend(.ui.fluid.dropdown all);
        &:extend(.ui.selection.dropdown all);
        margin-top: .3em;
    }
}

.xforms-trigger {
    &:extend(.ui.button all);
}

.xforms-repeat {

    > .item > .xforms-group {
        margin-top: .5em !important;
        margin-bottom: .5em !important;
        border-left: 0.2em;
        border-left-style: solid;
        border-left-color: transparent;
    }

    > .item.current > .xforms-group {
        border-left-color: purple;
    }

}

.xforms-layout-form {

    > .contents {

        clear: both;

        > .item {
            clear: both;
        }
        
        > .item[data-nx-name='{http://www.w3.org/2002/xforms}trigger'] {
            display: inline-block;
            margin-top: 3em;
            margin-left: 3em;
        }
        
        > .item[data-nx-name='{http://www.w3.org/2002/xforms}trigger']~.item[data-nx-name='{http://www.w3.org/2002/xforms}trigger'] {
            clear: none;
        }

        > .item > .xforms-trigger {
            &:extend(.ui.huge.button all);
            margin: 0 auto;
        }

    }

}

.xforms-layout-section {

    > .label {
        &:extend(.ui.header all);
        &:extend(.ui.large.header all);
        &:extend(.ui.dividing.header all);
    }

    > .contents {
        margin-top: 2em;
        margin-bottom: 2em;
        
        @media only screen and (min-width: 767px) {
            .flex-container(767px);
            
            > .item[data-nx-name='{http://www.w3.org/2002/xforms}group'] {
                flex: 767px 1;
            }
        
            > .item[data-nx-name='{http://www.w3.org/2002/xforms}trigger'],
            > .item[data-nx-name='{http://www.w3.org/2002/xforms}submit'] {

                margin-top: 0 !important;
                margin-bottom: 0 !important;
                padding-left: 1em;
            }
        }

        > .item {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        > .item:first-child {
            margin-top: initial;
        }

        > .item:last-child {
            margin-bottom: initial;
        }

    }

}

.xforms-layout-section > .contents > .item > .xforms-group {
    .xforms-group-primary();
}

.xforms-layout-section > .contents > .item > .xforms-repeat > .item > .xforms-group {
    .xforms-group-primary();
}

.xforms-layout-section > .contents > .item > .xforms-group > .contents > .item > .xforms-group {
    .xforms-group-secondary();
}

.xforms-layout-section > .contents > .item > .xforms-repeat > .item > .xforms-group > .contents > .item > .xforms-group {
    .xforms-group-secondary();
}

.xforms-layout-segment {
    &:extend(.ui.segment all);
}

.xforms-layout-list {

    > .contents {
        
        ul {
            &:extend(.ui.list all);
            &:extend(.ui.bulleted.list all);
        }

    }

}