<events>
    <UIEvent
        type="DOMActivate"
        bubbles="true"
        cancelable="true" />
    <FocusEvent
        type="DOMFocusIn"
        bubbles="true"
        cancelable="false" />
    <FocusEvent
        type="DOMFocusOut"
        bubbles="true"
        cancelable="false" />
    <MutationEvent
        type="DOMSubtreeModified"
        bubbles="true"
        cancelable="false" />
    <MutationEvent
        type="DOMNodeInserted"
        bubbles="true"
        cancelable="false" />
    <MutationEvent
        type="DOMNodeInsertedIntoDocument"
        bubbles="false"
        cancelable="false" />
    <MutationEvent
        type="DOMNodeRemoved"
        bubbles="true"
        cancelable="false" />
    <MutationEvent
        type="DOMNodeRemovedFromDocument"
        bubbles="false"
        cancelable="false" />
    <MutationEvent
        type="DOMAttrModified"
        bubbles="true"
        cancelable="false" />
    <MutationEvent
        type="DOMCharacterDataModified"
        bubbles="true"
        cancelable="false" />
    <MutationEvent
        type="DOMElementNameChanged"
        bubbles="true"
        cancelable="false" />
    <MutationEvent
        type="DOMAttributeNameChanged"
        bubbles="true"
        cancelable="false" />
    <Event
        name="Load"
        type="load"
        bubbles="false"
        cancelable="false" />
    <KeyboardEvent
        type="keypress"
        bubbles="true"
        cancelable="true" />
</events>