@page "/form"
@using System
@using System.Xml.Linq
@using NXKit

@inject NXKit.Composition.ICompositionContext CompositionContext

<h1>Sample</h1>

<NXKit.View.Razor.NXView DocumentUri="@(new Uri("nx-example:///form.xml"))" />
